<a href="https://colab.research.google.com/github/Piyush-upadhyay05/python-basic/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

unpack a collection

In [ ]:
fruits = ['orange' , "mango" ,'apple']
x , y , z = fruits
print(x)
print(y)
print(z)

orange
mango
apple

global varivable

In [ ]:

x = "hello"
print("python is " + x)
def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("python is " + x)

python is hello
Python is fantastic
python is fantastic

range data type (type of sequence data type)

In [ ]:
x = range(10)
print(x)
print(type(x))

range(0, 10)
<class 'range'>

to print element 1 to 10

In [ ]:
for i in range(10):
     print(i)

0
1
2
3
4
5
6
7
8
9

# binary type
1. byte - immutable(cannot change)

In [ ]:
b = bytes([65 , 66 , 67 ,68])
print(b)

b'ABCD'

In [ ]:
# converting string to bytes
txt = 'hello'
b = txt.encode('utf-8')
print(b)

b'hello'

In [ ]:
#accessing element
b = b'python'
print(b[0])

112

2. bytearray - mutuable(u can change)

In [ ]:
code = bytearray([65 , 66, 67, 68,69])
print(code)
code[0] = 90
print(code)

bytearray(b'ABCDE')
bytearray(b'ZBCDE')

**STRINGS**

---

In [ ]:
# LOOP THROUGH STRING
for x in "pandey":
   print(x)
y = 'hello world'
print(len(y))

p
a
n
d
e
y
11

check string

In [ ]:
txt = "i am a good boy"
print("good" in txt)
if "good" in txt:
  print("yes , it is present")
print("good" not in txt)
if "bad" not in txt:
  print("no its not")

True
yes , it is present
False
no its not

slicing

In [ ]:
x = 'hello,i,am,piyush,upadhyay'
y = "mangoes"
print(y[2:6])
print(len(x))
print(x[-8:])
print(x[6:-8])
for i in range(len(x)):
 print(f"index {i}: {x[i]}")
print(x+" "+y)

ngoe
26
upadhyay
i,am,piyush,
index 0: h
index 1: e
index 2: l
index 3: l
index 4: o
index 5: ,
index 6: i
index 7: ,
index 8: a
index 9: m
index 10: ,
index 11: p
index 12: i
index 13: y
index 14: u
index 15: s
index 16: h
index 17: ,
index 18: u
index 19: p
index 20: a
index 21: d
index 22: h
index 23: y
index 24: a
index 25: y
hello,i,am,piyush,upadhyay mangoes

modifying string

In [ ]:
a = ' hello, world'
print(a.upper())
print(a.lower())
print(a.strip()) # strip is used to remove unsufficient whitespaace
print(a.replace("h" , "j"))# replce is used to replace a letter with someone letter
print(a.split(",")) # splits the string into substrings if it finds instances of the separator

 HELLO, WORLD
 hello, world
hello, world
 jello, world
[' hello', ' world']

format strings

In [ ]:
age = 30
txt = f"my name is piyush , and i am {age}"
print(age)

30
3.14

placeholder

In [ ]:
age = 30
txt = f"my name is piyush , and i am {age}" # age is placeholder in this code
print(age)

modifier

In [ ]:
num = 3.14159
formatted = "{:.2f}".format(num) # in this (:.2f) is modifier
print(formatted)

string method to modifying

In [ ]:
z = 'hello who is the Prime minister of india '
print(z)
print(z.capitalize())
print(z.casefold()) # convert string into lower case
print(len(z))
a = z.center(100 , "-") # center is used to allign the string to the center
print(a)
print(z.count("o")) # return the number of times the word or string is used
print(z.count("o" , 3 , 25))
for i in range(len(z)):
   print(f"index {i} : {z[i]}")

hello who is the Prime minister of india
Hello who is the prime minister of india
hello who is the prime minister of india
41
-----------------------------hello who is the Prime minister of india ------------------------------
3
2
index 0 : h
index 1 : e
index 2 : l
index 3 : l
index 4 : o
index 5 :
index 6 : w
index 7 : h
index 8 : o
index 9 :
index 10 : i
index 11 : s
index 12 :
index 13 : t
index 14 : h
index 15 : e
index 16 :
index 17 : P
index 18 : r
index 19 : i
index 20 : m
index 21 : e
index 22 :
index 23 : m
index 24 : i
index 25 : n
index 26 : i
index 27 : s
index 28 : t
index 29 : e
index 30 : r
index 31 :
index 32 : o
index 33 : f
index 34 :
index 35 : i
index 36 : n
index 37 : d
index 38 : i
index 39 : a
index 40 :

more modification method

In [ ]:
q = " you are my queen"
x = q.encode()
print(x)
y = q.endswith("n") # endswith return true if the string end with written value
print(y)
y = q.endswith("een" , 5 , 13)
print(y)
r = "hel\tlo\twor\tld"
print(r.expandtabs()) # used to remove tab character in a string with spaces by default it changes with 8 spaces
print(r.expandtabs(4)) # replace tab with 4 spaces

b' you are my queen'
True
False
hel     lo      wor     ld
hel lo  wor ld

In [ ]:
txt = ' hello to the world king'
x = txt.find("to" , 3 , 10) # searches a string for a specified value
print(x)
for i in range(len(txt)):
  print(f"index {i} : {txt[i]}")

7
index 0 :
index 1 : h
index 2 : e
index 3 : l
index 4 : l
index 5 : o
index 6 :
index 7 : t
index 8 : o
index 9 :
index 10 : t
index 11 : h
index 12 : e
index 13 :
index 14 : w
index 15 : o
index 16 : r
index 17 : l
index 18 : d
index 19 :
index 20 : k
index 21 : i
index 22 : n
index 23 : g

format() method -

*   return formated string
*   format values and insert them inside the string placeholder

*   defined using curly brackets ({})

In [ ]:
txt = "my name is {fname} , i am {age}".format(fname = "john" , age = 36)
txt1 = "my name is {} , i am {}".format("john" , 19)
print(txt1)
print(txt)
# left allign the value using format
txt2 = "we have {:<8} chickens."
# right allign the value using format
txt3 = "we have {:>8} chicken"
# center-align the value using format
txt4 = "we have {:^} chicken"
print(txt2.format(49))
print(txt3.format(49))
print(txt4.format(49))

my name is john , i am 19
my name is john , i am 36
we have 49       chickens.
we have       49 chicken
we have 49 chicken

index method -  find the first occurance of the specified value

In [ ]:
txt = "hello my dear friends welcome"
x = txt.index("welcome")
y = txt.index("h")
z = txt.index("o")
print(x)
print(y)
print(z)

22
0
4

In [ ]:
txt = "hello welcome to my world"
y = txt.index("e",5,10)
print(y)

7

ISALNUM() - return true if all the character in the string is alphanumeric

In [ ]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

ISALPHA() - return true if all the character in string is alphabet

In [ ]:
x = "hello wrold"
print(x.isalpha()) # return false because space is not alphabet character

False

isascii - return true if all the character is ascii character

In [ ]:
txt = "hello world"
x = txt.isascii()
print(x)

True

isidentifier() - return true if the string is a valid identifier(An identifier in Python is the name used to identify variables, functions, classes, modules, or other objects.) otherwise false

In [ ]:
txt = "hello"
x = txt.isidentifier()
print(x)

True

isprintable() - return true if all the character are printable , otherwise false

In [ ]:
txt = "hello how are you"
x = txt.isprintable()
print(x)

True

isspace() - is there only spaces are present in the string then its return true otherwise false

In [ ]:
txt = "        "
x = txt.isspace()
print(x)
txt1 = "    u     "
y = txt1.isspace()
print(y)

True
False

istitle() - return true if all  in a text start with a upper case letter and rest of the letter is in lower case ,other wise it gives false

*  symbols and number are ignored

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

isupper() - isupper return true if all the chaar in the string is capital otherwise it return false

In [ ]:
txt = " HELLO HOW ARE YOOU"
x = txt.isupper()
print(x)

True

join() - method takes all items in an iterable and joins them into one string

*   string must be specified as the separator

In [ ]:
myDict = { "name":"john" ,"country": "norway"}
myseprator = "test"

x = myseprator.join(myDict)
print(x)

nametestcountry

* When using a dictionary as an iterable, the returned values are the keys, not the values.

ljust() method - method will left align the string using a specified character as the fill character

In [ ]:
txt = "banana"
x = txt.ljust(20)
print(x , "is my favourite fruite")

banana               is my favourite fruite

In [ ]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)
print(len(x))

bananaOOOOOOOOOOOOOO
20

maketrans() - it is used to replace one character to the other character

In [ ]:
txt = "hello sam!"
mytable = str.maketrans("s" , "R")
print(txt.translate(mytable))

hello Ram!

In [ ]:
txt = "hello sam! how are you "
print(txt)
x = "hello sam! how are you"
y = "hello ram! i.. am. fin"
mytable = str.maketrans(x , y)
print(txt.translate(mytable))

hello sam! how are you
i.lli ram! ii. am. fin

In [ ]:
txt = "good night sam!"
x = "mSa"
y = "eJo"
z ="odnght"
print(str.maketrans(x,y,z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

partition() - searches for a specified string and splits the string into a tuple containing three elements

In [ ]:
txt = "I could eat bananas all day"

x = txt.partition("banana")

print(x)

('I could eat ', 'banana', 's all day')

In [ ]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

rsplit() - split a string into a list starting from right

In [ ]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ", 1) # return a list with two element

print(x)

['apple, banana', 'cherry']

split() - split a string into a list

*   u can specify the seprarator , default seprator is any whitespace
*   when maxsplit is specified the list will contain the specified number of element plus one .

In [ ]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
text = "a b c d e"
print(text.split(" ", 2))   # Split twice from left
print(text.rsplit(" ", 2))  # Split twice from right

['a', 'b', 'c d e']
['a b c', 'd', 'e']

splitline() - split a string into a list . the splitting is done at line breaks.

In [ ]:
# string.splitlines(keeplinebreaks)
# keeplinebreakes - Optional. Specifies if the line breaks should be included (True),
# or not (False). Default value is False
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)
txt1 = "thank you for the music\nWelcome to the jungle"
y = txt1.splitlines(False)
print(y)

['Thank you for the music\n', 'Welcome to the jungle']
['thank you for the music', 'Welcome to the jungle']

startswith() - return true if the strings starts with specified value

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20) # 7 is start , 20 is end

print(x)

True

strip() -

In [ ]:
txt = "    banana     "
x = txt.strip()
print(txt.strip())
print(x)
print("of all the fruits",x, "is my favourite")

banana
banana
of all the fruits banana is my favourite

In [ ]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

swapcase() - returns a string where all the upper case letters are lower case and vice versa.

In [ ]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

title() - returns a string where the first character in every word is upper case. Like a header, or a title.



*   If the word contains a number or a symbol, the first letter after that will be converted to upper case.

In [ ]:
txt = " welcome to my second 3world"
x = txt.title()
print(x)

 Welcome To My Second 3World

In [ ]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

translate() - returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

In [ ]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

upper - convert string into upper case

In [ ]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

zfill() - zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

*  f the value of the len parameter is less than the length of the string, no filling is done.

In [ ]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

# Python booleans

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [ ]:
x = 300
print(isinstance(x , int))

True

# Python operator -

1 . arithmetic operator :

In [ ]:
# modulus
x = 5
y = 2
print(x%y) # remainder

# exponentiation
p = 2
q = 6
print(p**q)
# floor division
x = 15
y = 2
print(x//y)

1
64
7

2 . assignment operator :

In [ ]:
# and operator
x = 5
x &= 4
print(x)
# or operator
y = 5
y |= 3
print(y)
# bitwise xor assignment operator
z = 5
z ^=3
print(z)
# right shift assignment operator
x = 5

x >>= 3

print(x)
print(p:=3) # assiing a value 3 to the variable p

4
7
6

3 . comparision operator

In [ ]:
x = 5
y = 4
print(x==y) # equal
print(x!=y) # not equal
print(x>y) # greter than
print(x<y) # smaller than
print(x>=y) # greater than or equal to
print(x<=y) # less than or equal to

False
True
True
False
True
False

4 . logical operator

In [ ]:
x = 5
print(x>3 and x<2)
print(x>3 and x>2)
print(x<3 or x<4)
print(not)

False
True
False

5 . identity operator

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a is b)
print(a is c)
print(a == c)
print(a is not c)

True
False
True
True

In [ ]:
x = 10
y = 10
print(x is y)  # True, because small integers (-5 to 256) are cached

x = 500
y = 500
print(x is y)  # False, because large integers are not cached

True
False

6 . membership operator - Membership operators in Python are used to check if a value exists in a sequence (like a list, tuple, string, or dictionary).

There are two membership operators:

1 . in  Returns True if a value is present in the sequence.


2 . not in  Returns True if a value is not present in the sequence

In [ ]:
# using in or not in list
my_list = ['mango' , 'guava' , 'orange']
print('mango' in my_list)
print('grape' in my_list)
print('grape' not in my_list)
print('guava' in my_list)

# using string
x = "hello i am using python"
print("python" in x )
print("java" in x)

True
False
True
True
True
False

6. bitwise operator - Bitwise operators in Python operate at the binary level (bit-by-bit). These operators are used to perform operations on individual bits of integers.

In [ ]:
# 1 . and bitwise operator
a = 5 # (0101 in binary)
b = 3 # (0011 in binary)
print(a &b) # 0101 & 0011 = 0001 (1 in decimal)
# 2. bitwise OR
print(a | b)
# 3. bitwise XOR
print(a ^ b)
# 4. bitwise not
print(~ b)
# 5. bitwise left shift
print(a<<2)
print(a>>2)

1
7
6
-4
20
1


# list :-

1. use to store multiples items in a single variable

2. created using square bracket[]

3. ordered , changeable , allow duplicates , indexed (first letter at index 0 , and second at 1)

1. ordered - When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

- If you add new items to a list, the new items will be placed at the end of the list.

2. changeable - The list is changeable, meaning that we can change, add, and remove items in a list after it has been created

In [ ]:
# to find the length if the list
my_list = ['helooo' , 'my' , 'friend', 'helooo']
print(len(my_list))
# to print thr type of the list
print(type(my_list))

4
<class 'list'>

In [ ]:
# creating list using list() constructor
thislist = list(('apple','mango','cherry'))
print(len(thislist))
print(type(thislist))
print(thislist)

3
<class 'list'>
['apple', 'mango', 'cherry']

In [ ]:
thislist = ['app','zoo','tv']
print(thislist[1]) # using indexing you can access list element

zoo

negative indexing - means start from end

In [ ]:
thislist = ['mango' , 'go', 'run','meet' , 'hate' , 'ego' , 'man']
print(thislist[-1])
print(thislist[2:5])
print(thislist[:4])
print(thislist[5:])
print(thislist[-4:-1])
if "runout" in thislist:
  print("yes, it is present")
elif "runout" not in thislist:
  print("noo it is not present")

man
['run', 'meet', 'hate']
['mango', 'go', 'run', 'meet']
['ego', 'man']
['meet', 'hate', 'ego']
noo it is not present

adding items into list

In [ ]:
thislist = ['hello' , 'world' , 'india' , 'indian' , 'knowledge']
thislist.append("orange")
print(thislist)
thislist.insert(1 , "red") # insert is used to add item into specifc position
thatlist = ['i' , 'am' , 'amazing' , 'boy']
thislist.extend(thatlist) # extend is use to add to different list or it is also add list tupple or other data type
print(thislist)

['hello', 'world', 'india', 'indian', 'knowledge', 'orange']
['hello', 'red', 'world', 'india', 'indian', 'knowledge', 'orange', 'i', 'am', 'amazing', 'boy']

remove element

In [ ]:
thislist = ['hello' , 'world' , 'india' , 'indian' , 'knowledge']
thislist.remove("world")
print(thislist)
thislist.pop(2)
print(thislist)
del thislist[0]
print(thislist)
del thislist
thatlist = ['i' , 'am' , 'amazing' , 'boy']
thatlist.clear()
print(thatlist)

['hello', 'india', 'indian', 'knowledge']
['hello', 'india', 'knowledge']
['india', 'knowledge']
[]

loop through list

In [ ]:
thislist = ["apple" ,"mango" , "cherry"]
for x in thislist:
  print(x)
for i in range(len(thislist)):
  print(thislist[i])
i = 0
while i< len(thislist):
  print(thislist[i])
  i = i+1

apple
mango
cherry
apple
mango
cherry
apple
mango
cherry
apple
mango
cherry

[None, None, None]

In [ ]:
thatlist = ["apple" ,"mango" , "cherry"]
[print(x) for x in thatlist]

apple
mango
cherry

[None, None, None]

list comprehension - it is easy and short way to create a list

In [ ]:
fruits = ['mango' , 'apple' ,'pea','carrot','grapes','cherry',]
newlist = []
thislist = [x for x in fruits if "a" in x]  # short way to create list
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)
print(thislist)
newlist = [x for x in fruits if x != "apple"]#Only accept items that are not "apple"
print(newlist)

['mango', 'apple', 'pea', 'carrot', 'grapes']
['mango', 'apple', 'pea', 'carrot', 'grapes']
['mango', 'pea', 'carrot', 'grapes', 'cherry']

The syntax :
```
# newlist = [expression for item in iterable if condition == True]
```

In [ ]:
# you can use the range() function to create an iterable
newlist = [x for x in range(10)]
print(newlist)
# Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]
print(newlist)
# Set the values in the new list to upper case:
newlist = [x.upper() for x in fruits]
print(newlist)
# Set all values in the new list to 'hello'
newlist = ['hello' for x in fruits]
print(newlist)
#return orange instead of apple
newlist = [x if x != "apple" else "orange" for x in fruits]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['MANGO', 'APPLE', 'PEA', 'CARROT', 'GRAPES', 'CHERRY']
['hello', 'hello', 'hello', 'hello', 'hello', 'hello']
['mango', 'orange', 'pea', 'carrot', 'grapes', 'cherry']

sort list:-

1. sorting in ascending order

In [ ]:
thislist = ["orange" , "mango", "kiwi","apple", "pineapple" , "banana"]
thislist.sort()
print(thislist)

['apple', 'banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

2. sorting in descending order

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

customize sort function -

You can also customize your own function by using the keyword argument (key = function.)

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [ ]:
def myfunc(c):
  return abs(ord(c) - ord('M'))

thislist = ['A', 'Z', 'G', 'M', 'T']
thislist.sort(key = myfunc)
print(thislist)
#The function myfunc calculates the absolute difference between the ASCII value of each character and the ASCII value of 'M'.
#The list is then sorted based on this difference.

['M', 'G', 'T', 'A', 'Z']

Case Insensitive Sort - by default sort method is case sensitive

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry","Zebra"]
thislist.sort()
print(thislist)
# capital letter is consider first

['Kiwi', 'Orange', 'Zebra', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)
# in this Kiwi capital K is consider like small k

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse Order-

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Copy Lists

In [ ]:
thislist = ['apple' , 'kiwi' , 'mango','pineapple']
thatlist = ['carrot' , 'grapes','cherry']
thislist = thatlist.copy() # first copy method
mylist= list(thislist) # list method
print(thislist)
print(mylist)
# using slicing
thislist = thatlist[:]
print(thislist)
result = thislist + thatlist
print(result)
thislist.extend(thatlist)
print(thislist)

['carrot', 'grapes', 'cherry']
['carrot', 'grapes', 'cherry']
['carrot', 'grapes', 'cherry']
['carrot', 'grapes', 'cherry', 'carrot', 'grapes', 'cherry']
['carrot', 'grapes', 'cherry', 'carrot', 'grapes', 'cherry']

join or add  two list

In [ ]:
list1 = ["apple" , "mango" , "1"]
list2 = ["1" , "2","3"]
list3 = ["a","b","c"]
list3 = list1 +list2 # add method first
print(list3)
for x in list2: # add method second
  list1.append(x)
  print(list1)

['apple', 'mango', '1', '1', '2', '3']
['apple', 'mango', '1', '1']
['apple', 'mango', '1', '1', '2']
['apple', 'mango', '1', '1', '2', '3']
['1', '2', '3', 'apple', 'mango', '1', '1', '2', '3']

In [ ]:
# add method 3
list2 = ["1" , "2","3"]
list3 = ["a","b","c"]
list2.extend(list3)
print(list2)

['1', '2', '3', 'a', 'b', 'c']

list method

1. clear() - remove all the element from the list

In [ ]:
list2 = ["1" , "2","3"]
list2.clear()
print(list2)

[]

2. count() - return the count of the number of the list  with the specified value

In [ ]:
list2 = ["1" , "2","3", "1","1"]
list3 = ["a","b","c"]
x = list2.count("1")
print(x)

3

3. index() - Returns the index of the first element with the specified value

In [ ]:
list = ["1" ,"2","3","4"]
x = list.index("4")
print(x)

3

4. insert() - insert a value to a list at a specified value

In [ ]:
list = ["1" ,"2","3","4"]
list.insert(4 ,"5")
print(list)
# pop is used to remove the element at a specified value
list.pop(1)
print(list)
# remove() is used Removes the item with the specified value
list.remove("4")
print(list)

['1', '2', '3', '4', '5']
['1', '3', '4', '5']
['1', '3', '5']

5.sort() - used to sort the list

In [ ]:
cars = [ 'Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

tuple

In [ ]:
# creating a tupple with one element
thistuple = ("apple",)
print(type(thistuple))
thattuple = ("apple")
print(type(thattuple))

<class 'tuple'>
<class 'str'>

In [ ]:
# creating tuple using tuple constructor
thistuple = tuple(("apple","mango","pineapple"))
print(thistuple)

('apple', 'mango', 'pineapple')

you can not add or remove item in tuple but you can update tuple like this

update method:

In [ ]:
# first method
del list  # Only needed if 'list' was redefined
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)
# here after converting a tuple into list then you can use the all list
#                                   adding and removing method in tuple

('apple', 'kiwi', 'cherry')

In [ ]:
# second method - without converting to list
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

delete a tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple # del is used to delete the tuple completely
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

unpack a tuple - When we create a tuple, we normally assign values to it. This is called "packing" a tuple

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

 Using Asterisk* - If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

looping through a tuple

In [ ]:
thistuple =("apple","mango","orange")
for x in thistuple:
  print(x)
  # looping through index number
for i in range(len(thistuple)):
  print(f"index {i} : {thistuple[i]}")
# using while loop
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i+1

apple
mango
orange
index 0 : apple
index 1 : mango
index 2 : orange
apple
mango
orange

join two tuple

In [ ]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
x = tuple1 + tuple2
print(x)
y = tuple1*2
print(y)

('a', 'b', 'c', 1, 2, 3)
('a', 'b', 'c', 'a', 'b', 'c')

tuple method

1.  count() = Returns the number of times a specified value occurs in a tuple

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

2. index() = Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

# set



*  Sets are used to store multiple items in a single variable.


*   A set is a collection which is unordered, unchangeable*, and unindexed.

     *   Unordered - Unordered means that the items in a set do not have a defined order.

     Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
     * Unchangeable - Set items are unchangeable, meaning that we cannot change the items after the set has been created.

     * Duplicates Not Allowed

In [ ]:
# unorderd -
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(my_set)
my_list = [10, 20, 30, 40, 50]
my_set = {10, 20, 30, 40, 50}

# Printing both
print("List:", my_list)  # Output: [10, 20, 30, 40, 50] (Order remains the same)
print("Set:", my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
List: [10, 20, 30, 40, 50]
Set: {50, 20, 40, 10, 30}

In [ ]:
# duplicates not allowed
thisset = {1,2,3,3,3,4,5,5,5}
print(thisset)

{1, 2, 3, 4, 5}

In [ ]:
#  The values True and 1 are considered the same value in sets, and are treated as duplicates and false as 0
thisset = {1,2,3,4,5,True, 1,False,0}
print(thisset)

{False, 1, 2, 3, 4, 5}

creating set using set() constructor

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

access item - You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

banana
apple
cherry
True
False

add items

In [ ]:
thisset = {1,2,3,4,5,6}
thisset.add(7) # using add
print(thisset)
thatset = {8,9,10}
thisset.update(thatset) # using update - this update method can  add any list tuple set dictionary
print(thisset)
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'kiwi', 'orange', 'banana', 'cherry', 'apple'}

remove items - it is same as list

loop using set

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

join two set - There are several ways to join two or more sets in Python.

*  The union() and update() methods joins all items from both sets.

* The intersection() method keeps ONLY the duplicates.

* The difference() method keeps the items from the first set that are not in the other set(s).

* The symmetric_difference() method keeps all items EXCEPT the duplicate

1. union() / |(operator)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2 # joining by operator
print(set3)


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2) # joining by union keyword
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
# joining multiple set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'c', 'bananas', 'a', 'apple', 'b', 'Elena', 'John', 'cherry'}

In [ ]:
# Join a Set and a Tuple
tuple = (1,2,3,4,5,6)
set = {7,8,9,10}
z = set.union(tuple)
print(z)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

2. update()

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

3. intersection - Keep ONLY the duplicates
The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the & operator instead of the intersection() method, and you will get the same result.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

4. Difference - The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

You can use the - operator instead of the difference() method, and you will get the same result.

Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

5. Symmetric Differences -The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'google', 'microsoft', 'cherry'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'google', 'microsoft', 'cherry'}

### set method

add() - add element to the set

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'banana', 'orange', 'apple', 'cherry'}

remove() - it remove all the element in set

copy() - return the copy of a set

In [ ]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'apple', 'cherry'}

difference() - Returns a set containing the difference between two or more sets

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)
p = x - y
print(p)
print(z)

{'banana', 'cherry'}
{'banana', 'cherry'}

difference_update() - removes the items that exist in both sets.method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)
print(x)
# Use -= as a shortcut instead of difference_update():
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

a -= b

print(a)

{'banana', 'cherry'}
{'banana', 'cherry'}

In [ ]:
# join more than two sets:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a.difference_update(b, c)

print(a)
# join more than two sets with the -= operator
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a -= b | c

print(a)

{'banana'}
{'banana'}

discard() - remove the specified element in the set

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

intersection() - Returns a set, that is the intersection of two other sets

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
p = x & y
print(p)

print(z)

{'apple'}
{'apple'}

intersection_update() -Removes the items in this set that are not present in other, specified set(s)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)
# Use &= as a shortcut instead of intersection_update():
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x &= y

print(x)

{'apple'}

In [ ]:
# Compare 3 sets, and return a set with items that is present in all 3 sets:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)
# Join 3 sets with the &= operator:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x &= y & z

print(result)

isdisjoint() -Returns whether two sets have a intersection or not

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

issubset()-Returns whether another set contains this set or not
- The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)
p = x <= y
print(p)
print(z)

True
True

In [ ]:
# What if not all items are present in the specified set?
# Return False if not all items in set x are present in set y:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

issuperset() - method returns True if all items in the specified set exists in the original set, otherwise it returns False.

In [ ]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)
# Use >= as a shortcut instead of issuperset():
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x >= y

print(z)

True
True

In [ ]:
# What if not all items are present in the specified set?

# Return False if not all items in set y are present in set x:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

pop() - remove an element from the set

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'apple', 'cherry'}

remove() - it remove the specified element

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

# python dictiorary
- Dictionaries are used to store data values in key:value pairs.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
- Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

#### Dictionary Items
- Dictionary items are ordered, changeable, and do not allow duplicates.
- Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

dict() constructor - it is also possible to use dict() constructor to build a constructor

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

access items -

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

update dictionary

- The update() method will update the dictionary with the items from the given argument.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

removing items

1. pop()

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

2. popitem() - method removes the last inserted item

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

3. del() - removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)
del thisdict #  keyword can also delete the dictionary completely
print(thisdict) #this will cause an error because "thisdict" no longer

{'brand': 'Ford', 'year': 1964}

NameError: name 'thisdict' is not defined

4. clear() -  method empties the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

looping through a dictionary

1. using for loop

-When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)
for x in thisdict:
  print(thisdict[x]) #Print all values in the dictionary, one by one

brand
model
year
Ford
Mustang
1964

2. using value() keyword

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

3. usinng keys() keyword -

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

4. Loop through both keys and values, by using the items() method

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

copy() dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries

In [ ]:
# Create a dictionary that contain three dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily["child2"]["name"]) # acces item in nested dictionary

Tobias

Loop Through Nested Dictionaries - You can loop through a dictionary by using the items() method like this:

In [ ]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

dictionary method -

-1. fromkeys()

In [ ]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

### control flow statements

python if- else statements

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

elif - "if the previous conditions were not true"

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a==b:
  print("yes")

yes

else - else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

short hand if - and short hand else

In [ ]:
if a > b: print("a is greater than b")
a = 2
b = 330
print("A") if a > b else print("B")
# You can also have multiple else statements on the same line:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

a is greater than b
B

AND , OR , NOT

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")
if a > b or a > c:
  print("At least one of the conditions is True")
if not a == b:
  print("a is NOT greater than b")

Both conditions are True
At least one of the conditions is True
a is NOT greater than b

nested if

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
# if statements cannot be empty,
# but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.
a = 33
b = 200

if b > a:
  pass

Above ten,
and also above 20!

match - it is used to perform different action based on different conditions

- intead of writing many if..else you can use match
- The match statement selects one of many code blocks to be executed.
- syntax

In [ ]:
match expression:
  case x:
    code block
  case y:
    code block
  case z:
    code block

SyntaxError: invalid syntax (<ipython-input-29-3d5eb361ba5f>, line 3)

This is how it works:


*   The match expression is evaluated once
*  The value of the expression is compared with the values of each case.
*   If there is a match, the associated block of code is executed.

In [ ]:
day = int(input("enter the number between 1 to 7"))
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

enter the number between 1 to 76
Saturday

Use the underscore character _ as the last case value if you want a code block to execute when there are not other matches:

In [ ]:
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")
#The value _ will always match, so it is important to place it as the last case to make it beahave as a default case.

Looking forward to the Weekend

Combine Values - Use the pipe character | as an or operator in the case evaluation to check for more than one value match in one case:

In [ ]:
day = int(input("enter the number 1 to 7"))
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

enter the number 1 to 74
Today is a weekday

If Statements as Guards -You can add if statements in the case evaluation as an extra condition-check

In [ ]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

### python loops

#### while loops -
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

break

In [ ]:
i = 1 # The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

continue - With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

else Statement in while loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

#### for loop -
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).


This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

looping through a string

In [ ]:
for x in "banana":
  print(x)
# break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
# continue
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

b
a
n
a
n
a
apple
banana

range() function - To loop through a set of code a specified number of times, we can use the range() function


The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(2, 35, 5):
  print(x)

2
7
12
17
22
27
32

else in for loop - The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

The else block will NOT be executed if the loop is stopped by a break stateme

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

Nested Loops - A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

 pass Statement

 for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass
  print(x)

0
1
2

### function -
 a function is a block of code which only runs when it is called

you can pass data into a function called parameters  

function can retrun data as a result

In [ ]:
# creating a function
def my_function():
  print("hello from a function") # no output

Calling a function is important because defining a function only tells Python what the function can doit doesn't actually do anything until you call it

In [ ]:
def my_function():
  print("hello from a function")
my_function()

hello from a function

arguments:

Information can be passed into functions as arguments.

In [ ]:
def my_function(fname):
  print(fname + "refsnes")
my_function("email")
my_function("linus")

emailrefsnes
linusrefsnes

parameters and arguments

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called

number of arguments -By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")
# If you try to call the function with 1 or 3 arguments, you will get an error:

Arbitrary Arguments, *args :    

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

keyword arguments -

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

Arbitrary Keyword Arguments, **kwargs:

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

default parameter value

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

passing a list in a function as an argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

return value - To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

the pass statement :    

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
def myfunction():
  pass

positional-only arguments


You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.

To specify that a function can have only positional arguments, add , / after the arguments:

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)

3

Without the , / you are actually allowed to use keyword arguments even if the function expects positional arguments

In [ ]:
def my_function(x):
  print(x)

my_function(x = 3)

3

But when adding the , / you will get an error if you try to send a keyword argument:

In [ ]:
def my_function(x, /):
  print(x)

my_function(x = 3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

keyword-only arguments

To specify that a function can have only keyword arguments, add *, before the arguments:

In [ ]:
def my_function(*, x):
  print(x)

my_function(x = 3)

Without the *, you are allowed to use positionale arguments even if the function expects keyword arguments:

In [ ]:
def my_function(x):
  print(x)

my_function(3)

But with the *, you will get an error if you try to send a positional argument:

In [ ]:
def my_function(*, x):
  print(x)

my_function(3)

combine positonal-only and keyword-only

You can combine the two argument types in the same function.

Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

### lambda function -

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [1]:
x = lambda a : a + 10 # Add 10 to argument a, and return the result:
print(x(5))

15

Lambda functions can take any number of arguments:

In [3]:
# Multiply argument a with argument b and return the result:
x = lambda a, b : a * b
print(x(5, 6))
y = lambda p , q , r : p+q+r
print(y(5,6,7))

30
18

### why we use function ?

The power of lambda is better shown when you use them as an anonymous function inside another function.

anonymous function - An anonymous function is a function without a name. In Python, these are typically created using the lambda keyword.

In [5]:
def myfunc(n):
  return lambda a : a * n
# Use that function definition to make a function that always doubles the number you send in:
mydoubler = myfunc(2)
print(mydoubler(22))

44

In [6]:
def myfunc(n):
  return lambda a : a * n
mydoubler = myfunc(2)
mytripler = myfunc(3)
print(mydoubler(22))
print(mytripler(22))

44
66

common used cases of lambda function

map() - apply a function to all items in a list

In [ ]:
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x ** 2, nums))
print(squared)  # Output: [1, 4, 9, 16]

In [8]:
for i in range(99):
  print(i)
square = list(map(lambda x:x **2 , range(99)))
print(square)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604]

filter() : filter element based on a condition

In [9]:
nums = [1, 2, 3, 4, 5, 6]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)  # Output: [2, 4, 6]

[2, 4, 6]

In [13]:
for i in range(99):
  print(i)
square = list(filter(lambda x:x % 11 == 0, range(99)))
print(square)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
[0, 11, 22, 33, 44, 55, 66, 77, 88]

sorted(): with custom key

In [ ]:
names = ["apple", "banana", "kiwi", "mango"]
sorted_names = sorted(names, key=lambda x: len(x)) # len(x) means sorted according to length of element of the list
print(sorted_names)  # Output: ['kiwi', 'mango', 'apple', 'banana']

In [14]:
names = ["apple", "banana", "kiwi", "mango"]
sorted_names = sorted(names, key=lambda x: x.lower()) # sorted accroding alphabet
print(sorted_names)  # Output: ['kiwi', 'mango', 'apple', 'banana']

['apple', 'banana', 'kiwi', 'mango']

### Array -

In [18]:
cars = ["Ford", "Volvo", "BMW"]
print(cars)
cars[0] = "toyota" # updating element
print(cars)
print(len(cars))
cars.pop(1)
cars.remove("toyota")
print(cars)

['Ford', 'Volvo', 'BMW']
['toyota', 'Volvo', 'BMW']
3
['BMW']