### ðŸ”¹ **Basic Level**

1. Declare variables of different data types (`int`, `float`, `str`, `bool`) and print them.

In [1]:
x = int(24)
y = str("string")
z = float(2.99)
a = bool(True)
print(x,y,z,a)

24 string 2.99 True

2.  Take a user's name and age as input and print a greeting message.

In [3]:
name = input(str("enter the name"))
age = input("enter the age")
greeting_message = print(f"my name is {name} and my age is {age}")

my name is yash and my age is 21

3.  Swap two numbers using a temporary variable.

In [10]:
a = 2
b = 3
c = a
print(a,b,c)
a = b
b = c 
c = a 
print(a,b)

2 3 2
3 2

4.  Swap two numbers without using a temporary variable.

In [14]:
a = 2
b = 3
print(a,b)
a,b = b,a
print(a,b)

2 3
3 2

5. Assign multiple variables in a single line (e.g., `a, b, c = 5, 10, 15`) and print their values.

In [15]:
a, b , c = 5,10,15
print(a,b,c)

5 10 15

6. Use `type()` function to print the data type of each variable.

In [18]:
x = 34
y = "hello"
z = 3.00
t = True
print(type(x))
print(type(y))
print(type(z))
print(type(t))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

7. Use `id()` function to print the memory address of a variable.

In [20]:
x = "string"
print(id(x))
y = 3
print(id(y))

140238276993520
140238276936720

8. Assign the same value to multiple variables (e.g., `x = y = z = 100`) and print them.

In [21]:
x = y = z = 100
print(x,y,z)

100 100 100

9. Concatenate two string variables and display the result.

In [23]:
x = "hello"
y = "yash"
print(x +" " + y)

hello yash

10 . Store a float value in a variable and print its rounded version.

In [28]:
x = 3.47
print(round(x))
y = 4.6
print(round(y))

3
5

### ðŸ”¹ **Intermediate Level**

11. Take input for two numbers and perform all arithmetic operations (`+`, `-`, `*`, `/`, `//`, `%`, `**`).

In [33]:
x = int(input("enter the number"))
y = int(input("enter second number"))
print(x+y)
print(x - y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

93
87
270
30.0
0
729000

12. Take input for two strings and check whether they are identical using `is` and `==`.

In [38]:
x = str(input("enter the string first"))
y = str(input("enter the string second"))
if x is y:
    print("yes it is identical")
else:
    print("not identical")

not identical

Use == when comparing contents

Use is when checking memory identity (usually used with None, True, etc.)

In [37]:
x = str(input("enter the string first"))
y = str(input("enter the string second"))
if x == y:
    print("yes it is identical")
else:
    print("not identical")

yes it is identical

13. Use `in` and `not in` operators to check membership in string variables.

In [40]:
x = "this is a good boy"
y = "this is a bad boy"
if "good" in x:
    print("it is present")
else:
    print("not present")

if "bad" not in x:
    print("not present")
else:
    print("it is present")

it is present
not present

14. Demonstrate the use of `+=`, `-=`, `*=`, `/=` with a single variable.

In [45]:
x = 4
print(x)
x += 3
print(x)
x -=2
print(x)
x *= 4
print(x)
x /= 2
print(x)

4
7
5
20
10.0

15. Take name, age, and grade from user and display a formatted string using f-strings.

16. Use `int()`, `float()`, and `str()` to convert between variable types and print results.

17. Take a number as string input, convert it to integer, and perform addition.

18. Swap values of three variables in a cyclic way (e.g., Aâ†’B, Bâ†’C, Câ†’A).

19. Create a variable for marks in 5 subjects, calculate total and average.

20. Assign values from a list to multiple variables using unpacking and print them.